<!DOCTYPE html>
{% extends "kbbotapp/layout.html" %}
{% load django_bootstrap5 %}
{% block head %}
    <script>
        function hideAnswer() {
            showSpinner();
            document.getElementById("answer").style.display = "none";
        }
    </script>
{% endblock %}
{% block title %}
Chat
{% endblock %}
{% block crumb %}
    <a href="{% url 'kbbotapp:chat' %}">Chat</a>
{% endblock %}
{% block page_title %}
    Chat
{% endblock %}
{% block content %}
    {% if documents_count == 0 %}
        <p>There are no documents in the knowledge base.</p>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'kbbotapp:config_document_list' %}">Configure Documents</a>
    {% endif %}
    <div class="card">
        <div class="card-header">
            Ask a question below ...
        </div>
        <div class="card-body">
            <form action="" method="post" onsubmit="hideAnswer()">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Submit Question</button>
            </form>        
        </div>
    </div>
    <p></p>
    <div id="spinner" class="spinner-border" style="display: none;"></div>
    <p></p>
    {% if answer != "empty" %}
        <div id="answer" class="card">
            <div class="card-header">
                The answer is:
            </div>
            <div class="card-body">
                {{ answer }}
            </div>
        </div>
    {% endif %}
{% endblock %}

