{% extends "kbbotapp/layout.html" %}
{% block title %}
Index
{% endblock %}
{% block crumb %}
    <a href="{% url 'kbbotapp:config_home' %}" class="crumb-item">Configure</a> >
    <a href="{% url 'kbbotapp:config_index_home' %}" class="crumb-item">Index</a>
{% endblock %}
{% block page_title %}
    Index
{% endblock %}
{% block actions %}
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'kbbotapp:config_index_create' %}" onclick="showSpinner()">Create Index on Azure</a>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'kbbotapp:config_index_refresh' %}" onclick="showSpinner()">Create Index JSON</a>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'kbbotapp:config_index_upload' %}" onclick="showSpinner()">Upload Index JSON</a>
{% endblock %}
{% block content %}
<div id="spinner" class="spinner-border" style="display: none;">faszom</div>
<p>
    Number of the documents in the knowledge base: <strong>{{documents_count}}</strong>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'kbbotapp:config_document_list' %}">Configure Documents</a>
</p>
<p>
    The index status is: <strong>{{index_status_text}}</strong>
</p>
<p>Index Data: </p>
<code> {{ index_data_json|truncatewords:200 }}</code>
{% endblock %}