{% extends "kbbotapp/layout.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Add Document
{% endblock %}
{% block crumb %}
    <a href="{% url 'kbbotapp:home' %}">Home</a> >
    <a href="{% url 'kbbotapp:config_home' %}" class="crumb-item">Configure</a> >
    <a href="{% url 'kbbotapp:config_document_list' %}" class="crumb-item">Documents</a> >
    <a href="{% url 'kbbotapp:config_document_add' %}" class="crumb-item">Add Document</a>
{% endblock %}
{% block page_title %}
    Add Document
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <!-- Using the formset -->
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" onclick="showSpinner();">
            <span id="spinner-button" class="spinner-border spinner-border-sm" style="display: none;"></span>
            Upload
        </button>
        <a href="{% url 'kbbotapp:config_document_list'%}" class="btn btn-outline-secondary">Cancel</a>
    </form>
{% endblock %}

