{% extends "kbbotapp/layout.html" %}
{% block title %}
Delete Document
{% endblock %}
{% block crumb %}
    <a href="{% url 'kbbotapp:config_home' %}">Configure</a> >
    <a href="{% url 'kbbotapp:config_document_list' %}">Documents</a> >
    <a href="{% url 'kbbotapp:config_document_detail' pk=document.pk%}">Delete Document</a>
{% endblock %}
{% block page_title %}
    Delete Document
{% endblock %}
{% block content %}
    <form method="POST" class="form">
        {% csrf_token %}
        <p>Are you sure that you want to delete the document: <mark>{{document}}</mark>?</p>
        <button type="submit" class="btn btn-primary" onclick="showSpinner();">
            <span id="spinner-button" class="spinner-border spinner-border-sm" style="display: none;"></span>
            Delete
        </button>
        <a href="{% url 'kbbotapp:config_document_list'%}" class="btn btn-outline-secondary">Cancel</a>
    </form>
{% endblock %}