<!DOCTYPE html>
{% extends "kbbotapp/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block crumb %}
    <a href="{% url 'kbbotapp:home' %}">Home</a>
{% endblock %}
{% block page_title %}
    Home
{% endblock %}
{% block content %}
<h5>Hello There,</h5>
<p>You can either 
<a href="{% url 'kbbotapp:chat' %}" class="btn btn-sm btn-outline-primary">Chat</a> with me, or 
<a href="{% url 'kbbotapp:config_home' %}" class="btn btn-sm btn-outline-primary">Configure</a> my knowledge base.
{% endblock %}