<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <style>
        .container,
        .container-fluid,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
        }
    </style>
    {% bootstrap_javascript %}
    {% block head %}{% endblock %}
    <!--{% load static %}-->
    <!--link rel="stylesheet" type="text/css" href="{% static 'kbbotapp/site.css' %}"/-->
    <script>
        function showSpinner() {
            document.getElementById("spinner").style.display = "inline-block";
            document.getElementById("spinner-text").style.display = "inline-block";
            document.getElementById("spinner-button").style.display = "inline-block";
        }
    </script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'kbbotapp:home' %}">KB Bot Admin</a>
<!--                 <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kbbotapp:home' %}">Home</a>
                    </li>
                </ul>
 -->            </div>
        </nav>
        <div class="crumb">
            Navigation: {% block crumb%}{% endblock %}
        </div>
        <p></p>
        {% bootstrap_messages %}
        <p></p>        
        <div class="card shadow">
            <div class="card-body">
                <h2>{% block page_title %}{% endblock %}</h2>
                <div>
                    {% block actions %}{% endblock %}
                </div>
                <p></p>
                <span id="spinner" class="spinner-border  text-warning" style="display: none;"></span>  
                <span id="spinner-text" class="text-warning" style="display:none"> Working, please wait ...</span>          
            </div>
        </div>
        <p></p>   
        <div class="card shadow"> 
            <div class="card-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <p></p>
        <footer>
            <div class="card shadow">
                <div class="card-body">
                    &copy; KB-Bot 2023
                </div>
            </div>
        </footer>
</div>
</body>
</html>